*{
  margin: 0 auto;
  padding: 0 auto;
}

body{
  text-align: center;
  font-size: 20px;
}

.welcome{
  padding: 2%;
}

#nombre, #apellido, #btnIngresar{
  padding: 1%;
  margin: 1%;
}

#btnIngresar{
  background-color: antiquewhite;
  border-radius: 7px;
}

.contenedor{
  /*height: 200px;*/
  border:2px solid red;
  margin: 1% 5%;
}

.text{
  padding: 1%;
  color:green;
}